body {
    font-family: Roboto, sans-serif;
    background: #ffffff;
    color: #333;
    margin: 20px;
}

h1,
h2 {
    color: goldenrod;
    font-family: Oswald, sans-serif;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
}